<!--login WORK-->
<section class="vh-100" style="background-color: #508bfc; position: relative">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="signup-form">
            <form #LoginFrom="ngForm" (ngSubmit)="LoginUser()">
              <h2>Login</h2>
              <div class="form-group">
                <div class="row">
                  <div class="col">
                    <input type="text" class="form-control" name="user_name" placeholder="Login" required="required" [(ngModel)]="user.username"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required="required" [(ngModel)]="user.password">
              </div>


              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block bg-primary">Login</button>
              </div>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

